
.nav-principal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #697624;
}

nav ul li{
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 19px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }
#container {
    width: 100%;
    margin: 0px auto;
    color: #000000;
}
#container1 {
    background-image: url("../images/leon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px auto;
    width: 100%;
    color: #ffffff;
    height: 100%;
}
header {
    background: #a2d71f;
    text-align: center;
    font-style: oblique
}
.clearfix{
    clear:both;
}
.inf-general {
    width: 80%;
    font-size: 15px;
    text-align: justify;
}
footer{
    background: #6c5b25;
    height: 70px;
    color : white;
}
.descripcion-animal {
    width: 80%;
    font-size: 15px;
    text-align: justify;

}
h1{
    color: #000000;

}
tr:hover {
    background-color: #ffa400;
}
th {
    text-align: left;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #798c87;
    color: white;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
}
tr {
   background-color: #f2f2f2;
}

.contacto {
    border-radius: 5px;
    background-color: #798c87;
    padding: 20px;
}
input[type=text] {
    width: 50%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.btn {
    border: 1px solid #000;
    padding: 5px 20px;
    margin: 0 10px 5px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: #333 5px 3px 2px;
}
.btn:hover {
        opacity: 0.7;
    }

.btn {
    background-color: #ffa400;
    color: #000;
}
img {
    
}
