<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Contacto</title>
    <meta name="viewport" content="with=divice=width, initial-scale= 1.0"/>
    <link rel="stylesheet" href="../css/estilos.css"/>
</head>
<body>
    <div id="container">
        <header>
            <h1>Contacto</h1>
            <nav>
                <ul class="nav-principal">
                    <li class="nav-principal"> <a href="../index.html">INICIO</a></li>
                    <li class="nav-principal"> <a href="informacion.html">MÁS</a></li>
                    <li class="nav-principal"> <a href="tablas.html">INFORMACIÓN ESPECÍFICA</a></li>
                    <li class="nav-principal"> <a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
            <div class="clearfex"></div>
        </header>
        <main class="contacto">
            <h3>Enviar mensaje:</h3>

            <from>
                <label>Nombre:</label>
                <br />
                <input type="text" , id="txtNombre" required />
                <br />
                <br />

                <label>Contacto:</label>
                <br />
                <input type="text" , id="txtContacto" required />
                <br />
                <br />

                <label>Mensaje:</label>
                <br />
                <textarea id="txtMensaje" rows="4" cols="50"></textarea>
                <br />
                <br />

                <button typeof ="button" class="btn">Enviar</button>
            </from>
        </main>
        <br />
        <footer>

            Derechos reservados &copy; 2024
            <h5>Creado por: Javier Are</h5>
        </footer>
    </div>
</body>
</html>