<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tablas</title>
    <meta name="viewport" content="with=divice=width, initial-scale= 1.0" />
    <link rel="stylesheet" href="../css/estilos.css"/>
</head>
<body>
    <div id="container">
        <header>
            <h1>Información detallada</h1>
            <nav>
                <ul class="nav-principal">
                    <li class="nav-principal"> <a href="../index.html">INICIO</a></li>
                    <li class="nav-principal"> <a href="informacion.html">MÁS</a></li>
                    <li class="nav-principal"> <a href="tablas.html">INFORMACIÓN ESPECÍFICA</a></li>
                    <li class="nav-principal"> <a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
            <div class="clearfex"></div>
        </header>
        <main class="tablas-animal">
            <table>
                <thead>
                    <tr>
                        <th>TIPO</th>
                        <th>NOMBRE</th>
                        <th>HABITAT</th>
                        <th>DIETA</th>
                        <th>UBICACIÓN</th>
                        <th>ORIGEN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mamifero</td>
                        <td>Tigre</td>
                        <td>Bosques densos y pastizales.</td>
                        <td>Grande mamiferos; ciervos, jabalíes y búfalos.</td>
                        <td>Asia (Desde Rusia hasta la India)</td>
                        <td>Continente Asiático</td>
                    </tr>
                    <tr>
                        <td>Mamifero</td>
                        <td>Leopardo</td>
                        <td>Bosques densos, selvas tropicales, sabanas, zonas rocosas.</td>
                        <td>Roedores, cebras, jabalíes y antílopes.</td>
                        <td>África y Asia</td>
                        <td>África</td>
                    </tr>
                    <tr>
                        <td>Mamifero</td>
                        <td>León Marino</td>
                        <td>Regiones costeras de aguas frias o templadas.</td>
                        <td>Peces, calamares y crustáceos</td>
                        <td>America sel norte y sur.</td>
                        <td>Norte del océano pacifico.</td>
                    </tr>
                    <tr>
                        <td>Mamifero marino</td>
                        <td>Orca</td>
                        <td>Todos los océanos del mundo</td>
                        <td>Focas, leones marinos y ballenas.</td>
                        <td> Ártico hasta la Antártida</td>
                        <td>Norte del océano pacífico</td>
                    </tr>
                    <tr>
                        <td>Reptil</td>
                        <td>Dragón de comodo</td>
                        <td>Sabanas y bosques tropicales secos.</td>
                        <td>Inceptos, ciervos y búfalos de agua.</td>
                        <td>Islas de Indonesia</td>
                        <td>Australia</td>
                    </tr>
                    <tr>
                        <td>Mamifero</td>
                        <td>Coyote</td>
                        <td>Praderas, desiertos, bosques y zonas urbanas.</td>
                        <td>Roedores, liebres, conejos, inceptos y frutas.</td>
                        <td>Todo America del Norte</td>
                        <td>Norte America</td>
                    </tr>
                    <tr>
                        <td>Mamifero</td>
                        <td>Comadreja</td>
                        <td>Bosque, matorrales, praderas y zonas agrícolas</td>
                        <td>Roedores, topillos, aves y anfibios.</td>
                        <td>Eurasia y Norteamérica.</td>
                        <td>No se tiene ubicación exacta.</td>
                    </tr>
                    <tr>
                        <td>Ave</td>
                        <td>Aguila</td>
                        <td>Bosques, zonas costeras y desiertos.</td>
                        <td>Pequeños mamiferos, aves, peces y reptiles.</td>
                        <td>Todo el mundo, menos la Antartída</td>
                        <td>Europa y Asia</td>
                    </tr>
                    <tr>
                        <td>Ave</td>
                        <td>Cuervo</td>
                        <td>Bosques, montañas, desiertos y zanas Urbanas</td>
                        <td>Aves, peces, reptiles, frutas y semillas.</td>
                        <td>Europa, Asia y NorteAmrica</td>
                        <td>Europa y Asia</td>
                    </tr>
                    <tr>
                        <td>Reptil</td>
                        <td>Caiman</td>
                        <td>Rios, lagos, pantanos y manglares.</td>
                        <td>Peces, mamiferos, aves, reptiles.</td>
                        <td>America del sur y central</td>
                        <td>América del Norte</td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer>
            Derechos reservados &copy; 2024
            <h5>Creado por: Javier Are</h5>
        </footer>
    </div>
</body>
</html>